@media (max-width: 768px) {
  .hero-txt .date {
    font-size: 20px;
    font-weight: normal;
  }

  .hero-txt .title {
    margin-top: 4px;
    font-size: 25px;
  }

  .hero-txt .des {
    font-size: 12px;
    margin-top: 4px;
  }

  .story {
    left: 15%;
    top: 0;
    width: 40%;
  }

  .story-title {
    font-size: 18px;
  }

  .story-content {
    margin-top: 10px;
    font-size: 10px;
    margin-left: 29%;
  }

  .gallery-title {
    font-size: 18px;
  }

  .book-title {
    font-size: 14px;
  }

  #form-scene {
    margin-top: 0;
  }

  .form-title {
    font-size: 18px;
  }

  .apply-form, .apply-form input, .apply-form legend {
    font-size: 10px;
  }

  .form-group {
    margin-bottom: 4px;
  }

  .apply-form input {
    padding: 4px;
  }

  .apply-form select {
    padding: 0 4px;
    width: 60px;
    height: 22px;
  }

  .info-title {
    font-size: 18px;
  }

  .info-content {
    font-size: 14px;
  }

  .map {
    height: 250px;
  }

  .swiper-button-next, .swiper-button-prev, .swiper-pagination {
    display: none;
  }
}